html, body {
  overflow-x: hidden;
}

@page {
  size: auto;
}

@media print {
    body * {
        visibility: hidden;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}

@media (max-width: 575.98px) { 
    html {
    font-size: 14px;
    }

    .card-header:first-child {
        border-radius: 0;
    }

    .card {
        border:0;
    }
    
    .card-body {
        padding-left: 10px;
        padding-right: 10px;
    }
 }