html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

footer {
  opacity: 0.75;
  font-size: 0.75rem;
}

#section-to-print {
  width: 6in;
  word-wrap: break-all;
}

@page {
  size: auto;
}

@media print {
  body * {
    visibility: hidden;
  }

  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }

  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 14px;
  }

  .card-header {
    border-radius: 0;
  }

  .card {
    border: 0;
  }

  .card-body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
